body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

h2 {
    color: #333;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
